<section id="feedback" data-bind="scrollIntoView: isAnswered">
    <!-- ko if: isCorrectAnswered -->
    <div class="result-block-wrapper" data-bind="autofocus">
        <div class="question-result-block" data-translate-text="[your answer was stored]" data-translate-title="[your answer was stored]">Your answer has been stored</div>
        <ul class="question-feedback-holder unstyled" data-bind="visible: correctFeedback">
            <!--ko foreach: correctFeedback-->
             <!-- ko ifnot: children.length -->
             <li class="styled-content" data-bind="contentBlock: content"></li>
             <!-- /ko -->
             <!-- ko if: children.length -->
             <li class="expandable-block-wrapper" data-bind="compose: { model:'viewmodels/questions/expandableBlock', activationData: $data }"></li>
             <!-- /ko -->
            <!--/ko-->
        </ul>
        <div class="result-btn-holder">
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="button medium primary autofocus" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko if: isGoToNextSectionVisible() -->
            <button class="button medium primary autofocus" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium autofocus" data-bind="click: goToResults, css: { disabled: isNavigationLocked, default: navigationContext.nextQuestionUrl || isGoToNextSectionVisible(), primary: !navigationContext.nextQuestionUrl && !isGoToNextSectionVisible() }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isWrongAnswered -->
    <div class="result-block-wrapper" data-bind="autofocus">
        <div class="question-result-block incorrect" data-translate-text="[your answer is empty and was not stored]" data-translate-title="[your answer is empty and was not stored]">Your answer is empty and was not stored</div>
        <ul class="question-feedback-holder unstyled" data-bind="visible: incorrectFeedback">
            <!--ko foreach: incorrectFeedback-->
             <!-- ko ifnot: children.length -->
             <li class="styled-content" data-bind="contentBlock: content"></li>
             <!-- /ko -->
             <!-- ko if: children.length -->
             <li class="expandable-block-wrapper" data-bind="compose: { model:'viewmodels/questions/expandableBlock', activationData: $data }"></li>
             <!-- /ko -->
            <!--/ko-->
        </ul>
        <div class="result-btn-holder">
            <!-- ko if: hideTryAgain -->
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="button medium primary autofocus" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko if: isGoToNextSectionVisible() -->
            <button class="button medium primary autofocus" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium autofocus" data-bind="click: goToResults, css: { disabled: isNavigationLocked, default: navigationContext.nextQuestionUrl || isGoToNextSectionVisible(), primary: !navigationContext.nextQuestionUrl && !isGoToNextSectionVisible() }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: hideTryAgain -->
            <button class="button medium primary autofocus" data-bind="click: tryAnswerAgain" data-translate-text="[try again]" data-translate-title="[try again]">Try again</button>
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="button medium default" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko if: isGoToNextSectionVisible() -->
            <button class="button medium default" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium default" data-bind="click: goToResults, css: { disabled: isNavigationLocked }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</section>
