<section id="introduction" class="unselectable" data-bind="autofocus">
    <div class="">
        <header class="page-header">
            <h1 class="course-title" data-bind="css: {small: courseTitle.length>100}">
                <span class="course-caption" data-bind="text: courseTitle, reviewable: {type: 'course', property: 'title'}">"course_name"</span>
            </h1>
            <div class="course-action-block intro">
                <button class="button small primary autofocus" href="#" data-bind="click: startCourse, css: { disabled: isNavigationLocked }" data-translate-text="[start course]" data-translate-title="[start course]">Start course</button>
            </div>
        </header>
        <div class="course-intro-text styled-content content">
            <!-- ko if: allowAuthorsBio -->
                <div class="author-information-wrapper">
                    <h3 class="cource-intro-title" data-bind="text: 'About the author'"></h3>
                    <div class="author-information-content">
                        <div class="author-information-image">
                            <!-- ko ifnot: authorAvatarUrl -->
                                <span class="material-icons">person</span>
                            <!-- /ko -->
                            <!-- ko if: authorAvatarUrl -->
                                <img data-bind="attr: {src: (authorAvatarUrl + '?width=356&height=356&scaleBySmallerSide=true')}" alt="">
                            <!-- /ko -->
                        </div>
                        <div class="author-information-text">
                            <h3 class="author-information-name" data-bind="text: createdBy"></h3>
                            <!-- ko if: authorContactEmail || authorPersonalPhone -->
                                <div class="author-information-contacts">
                                    <!-- ko if: authorContactEmail -->
                                        <div class="author-information-email">
                                            <i class="material-icons">drafts</i>
                                            <span data-bind="text: authorContactEmail"></span>
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: authorPersonalPhone -->
                                        <div class="author-information-phone">
                                            <i class="material-icons">call</i>
                                            <span data-bind="text: authorPersonalPhone"></span>
                                        </div>
                                    <!-- /ko -->
                                </div>
                            <!-- /ko -->
                            <!-- ko if: authorShortBio -->
                                <div class="author-information-bio" data-bind="text: authorShortBio"></div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko if: content -->
                <div data-bind="html: content,  elementsWrap: {}, reviewable: {type: 'course', property: 'introduction'}"></div>
            <!-- /ko -->
            <!-- ko if: copyright --> 
            <div class="copyright-text" data-bind="text: copyright"></div>
            <!-- /ko -->
        </div>
    </div>
</section>
