<section class="shell">
    <!-- ko if: viewSettings().treeOfContentVisible -->
    <!-- ko compose: 'treeOfContent/treeOfContent' -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko compose: {model: 'header/header', activationData: [viewSettings, pdfExportEnabled]} -->
    <!-- /ko -->
    <section class="content-container" data-bind="css: { 'review-mode' : isInReviewMode }, css: 'module-' + cssName()">
        <div id="content" class="content-wrapper">
            <!-- ko router: { cacheViews: false, transition: 'entrance' } -->
            <!-- /ko -->
        </div>
    </section>
    <div class="blockout" data-bind="css: { active: isClosed }">
        <div class="blockout-text-wrapper">
            <!-- ko if: inIframe -->
            <span class="blockout-text" data-translate-text="[the course has been finished]"></span>
            <!-- /ko -->
            <!-- ko ifnot: inIframe -->
            <span class="blockout-text" data-translate-text="[please close the browser tab now]"></span>
            <!-- /ko -->
        </div>
    </div>
    <div data-bind="widget: {kind:'imagePreview'}"></div>
</section>
